.content {
  max-width: 760px;
  margin: auto;
  padding: $spacing-5;
  display: flex;
  flex-direction: column;
  @include breakpoint-up(medium) {
    flex-direction: row;
  }
}

.header {
  display: flex;
  width: 100%;
  height: 100%;
  @include breakpoint-up(medium) {
    position: fixed;
    height: 100vh;
    top: 0;
    padding: 0 $spacing-6;
    width: 300px;
  }
}

.about {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-white;

  &__avatar-me {
    width: 120px;
  }

  &__text {
    width: 100%;
    text-align: center;
    h1 {
      color: $color-white;
      margin: 0;
      font-size: $text-4xl;
      font-weight: bold;
    }
    h2 {
      margin: 0;
      font-weight: normal;
      font-size: $text-xl;
    }
  }

  &__buttons {
    display: flex;
    margin: $spacing-5 auto;
    width: 180px;
    flex-wrap: wrap;

    justify-content: space-between;

    & > * {
      flex-basis: 25%;
    }

    a {
      text-decoration: none;
      font-size: $text-xl;
      color: $color-white;
      transition: 0.2s;

      &:hover {
        transform: translateY(-2.5px);
      }
    }
    &:hover > a:not(:hover) {
      opacity: 0.5;
    }
  }
}

.projects {
  width: 100%;
  color: $color-white;

  @include breakpoint-up(medium) {
    margin-left: 300px;
  }

  .grid {
    &__list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: $spacing-11;
      padding: 0;

      @include breakpoint-down(small) {
        margin-top: 0;
      }

      &__item:first-child {
        margin-top: 0;
      }

      &__item {
        margin-top: $spacing-6;
        list-style: none;
        a {
          text-decoration: none;
          color: $color-white;
        }
        .project {
          padding: $spacing-6;
          &__card {
            position: relative;
            aspect-ratio: 16 / 9;
            background-color: $color-white;
            width: 100%;
            video,
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          &__content {
            h2 {
              font-family: "SpaceMono";
              font-weight: lighter;
            }
          }
          &__links {
            display: flex;
            flex-direction: column;
            text-decoration: underline;

            i {
              margin-right: $spacing-2;
            }
          }
        }
      }
    }
  }
}
