.container {
  display: flex;
  margin: auto;
  height: 100vh;
  max-width: 520px;
  color: $color-white;
  align-items: center;

  .not-found {
    width: 100%;
    padding: $spacing-5;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      text-align: center;
    }

    &__image {
      position: relative;
      aspect-ratio: 16 / 9;
      background-color: $color-white;
      width: 100%;
      border-radius: $border-radius-4;
      overflow: hidden;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__text {
      padding: $spacing-5;
      font-style: italic;
      text-align: center;
    }

    &__button {
      margin: auto;
      width: fit-content;
      color: $color-white;
      align-items: center;
      appearance: none;
      background: none;
      border-width: 2px;
      border: 3px solid $color-white;
      border-radius: $border-radius-4;
      cursor: pointer;
      height: 56px;
      padding: $spacing-3;
      justify-content: center;
      overflow: hidden;
      text-align: center;
      text-decoration: none;
      transition: transform 0.15s;
      font-size: $text-2xl;
      font-family: "GreatVibes", sans-serif;

      &:focus {
        outline: none;
      }

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }
  }
}
