---
import "@/styles/global.css";

import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/Projects.astro";
import Header from "@/components/Header.astro";
import { ModeToggle } from "@/components/ModeToggle";
---

<Layout title={"Maxime Conceicao"}>
  <main class="max-w-3xl mx-auto p-5 flex flex-col md:flex-row min-h-screen">
    <Header />
    <Projects />
    <ModeToggle
      client:load
      variant="ghost"
      className="fixed bottom-4 right-4 z-50 h-12 w-12 rounded-[30%] bg-white/10 backdrop-blur-md border border-white/20 text-sm font-medium text-foreground shadow-md transition-all duration-300 hover:bg-white/20 hover:border-white/30 focus:outline-none focus:ring-2 focus:ring-ring flex items-center justify-center"
    />
  </main>
</Layout>
