@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: "GreatVibes";
  font-weight: normal;
  src: url(~@/assets/fonts/Great_Vibes/GreatVibes-Regular.ttf);
}

@font-face {
  font-family: "SpaceMono";
  font-weight: normal;
  src: url(~@/assets/fonts/Space_Mono/SpaceMono-Regular.ttf);
}

@font-face {
  font-family: "SpaceMono";
  font-weight: bold;
  src: url(~@/assets/fonts/Space_Mono/SpaceMono-Bold.ttf);
}
